<!doctype html>
<html lang="en">
<head th:replace="~{/template :: head}">
    <title>Cine Magaly</title>
</head>
<body>
<nav th:replace="~{/template :: nav}"></nav>

<main class="container">
    <h1 th:text="${pelicula.titulo}"></h1>

    <h2>Funciones</h2>
    <article th:each="funcion : ${funciones}">
        <span th:text="${funcion.fecha}"></span>
        <span th:text="${funcion.hora}"></span>
        <span th:text="${funcion.sala}"></span>
        <a>Reservar</a>
    </article>
</main>

<footer th:replace="~{/template :: footer}"></footer>
</body>
</html>