<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
    <nav th:fragment="nav">
        <a th:href="@{/}"><span>Cine Magaly</span></a>
        <ul>
            <li><a th:href="@{/peliculas}" sec:authorize="hasRole('ROLE_ADMIN')">Gestion de peliculas</a></li>
            <li><a th:href="@{/usuarios}" sec:authorize="hasRole('ROLE_ADMIN')">Gestion de usuarios</a></li>
        </ul>
    </nav>


    <footer th:fragment="~{/template :: footer}">
        <h3>Cine Magaly, 2025</h3>
    </footer>
</body>
</html>